port                    "6600"
music_directory         "%ROOT%"
playlist_directory      "%ROOT%/.mpd/playlists"
db_file                 "%ROOT%/.mpd/mpd.db"
log_file                "%ROOT%/.mpd/mpd.log"
state_file              "%ROOT%/.mpd/mpd.state"

audio_output {
        type         "alsa"
        name         "Chumby Audio"
        mixer_type   "software"
}
